@import '../../scss/utils/variables';
@import '../../scss/utils/mixins';

.about-content{
    width:  70%;
    margin: auto;
    height: 100%;
    margin-bottom: 40px;

    @include respondTo(xs) {    
        width: $width-large;
    }

    .collapse-content p{
        font-size: $font-size-large;

        @include respondTo(xs) {    
            font-size: $font-size-small;
        }
    }
}