@import '../../../variables';

.about-content{
    width:  70%;
    margin: auto;
    height: 100%;
    margin-bottom: 40px;

    @media screen and (max-width: 600px) {    
        width: $width-large;
    }

    .collapse-content p{
        font-size: $font-size-large;

        @media screen and (max-width: 600px) {    
            font-size: $font-size-small;
        }
    }
}