@import '/src/scss/utils/variables';
@import '/src/scss/utils/mixins';

body {
    font-family: 'Montserrat', sans-serif; 
    margin: auto;
    margin: 0;
    padding: 0;
    place-items: center;
    width: 100%;
    @include displayFlex(null, null, column);
    
    @include respondTo(sl) {
            width: 100% !important;
        }

    #root {
        width: 100%;
        margin: auto;
        padding: 0;
      }
  }

