// Couleurs
$primary-color: #FF6060;
$secondary-color: white;

// Dimensions
$border-radius: 25px;
$font-size-title: 24px;
$font-size-large: 18px;
$font-size-medium: 14px;
$font-size-small: 12px;
$width-large: 85%;
$width-medium: 36.375em;