@import '../../scss/utils/variables';
@import '../../scss/utils/mixins';

.logement-main {
    width: $width-large;
    margin: auto;
    margin-bottom: 30px;

    .banner-container {
        margin-top: 50px;
        margin-bottom: 30px;

        @include respondTo(xs) {
            margin-top: 30px;
            margin-bottom: 15px;
        }
    }

    .logement-details {
        @include displayFlex(space-between);

        @include respondTo(xs) {
            @include displayFlex(null, null, column);
        }

        .logement-p1{
            h1 {
                width: 90%;
                font-size: 36px;
                color: $primary-color ;
                font-weight: 500;
                margin-top: 0px;

                @include respondTo(xs) {
                    width: 100%;
                    font-size: $font-size-large;
                }
            }

            h2 {
                font-size: $font-size-large;
                color: $primary-color;
                font-weight: 500;

                @include respondTo(xs) {
                    font-size: $font-size-medium;
                }
            }

            .tag {
                margin-right: 10px;
                background-color: $primary-color;
                color: $secondary-color;
                padding: 7px 30px;
                border-radius: 10px;
                display: inline-block;
                text-align: center;
                vertical-align: middle;
                font-size: $font-size-medium;
                margin-left: auto;
                margin-top: 20px;

                @media screen and (max-width: 600px) {
                    padding: 5px 15px;
                    font-size: 10px;
                    margin-top: 12px;
                    margin-bottom: 0px;         
                }
            }
        }
    

        .logement-p2 {
            @include displayFlex(null, null, column);

            @include respondTo(xs) {
                margin-top: 13px;
                @include displayFlex(space-between, center, row-reverse);
            }

            .logement-p2-top {
                display: flex;

                .host-name {
                    @include displayFlex(center, null, column);
                    text-align: end;
                    color: $primary-color;
                    font-size: 18px;
                    font-weight: 500;
                    margin: 0;

                    @include respondTo(xs) {
                        font-size: $font-size-small;
                    }
                }

                img {
                    border-radius: 100px;
                    width: 64px;
                    margin-left: 10px;

                    @include respondTo(xs) {
                        width: 32px;
                        height: 32px;
                    }
                }
            }

            .logement-p2-bas {
                @include displayFlex(flex-end);
                margin-top: 21px;

                @include respondTo(xs) {
                    margin-top: 0;
                }

                .rating-stars {
                    @include respondTo(xs) {
                        width: 100px;
                        @include displayFlex(space-between);
                    }

                    svg {
                        @include respondTo(xs) {
                            width: 14px;
                        }
                    }
                }
            }
        }
    }


    .logement-collapse {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        flex-wrap: wrap;

        @media screen and (max-width: 600px) {
            display: flex;
            flex-direction: column;
        }

        button {
            width: 36.375em;

            @media screen and (max-width: 600px) {
                width: 100% !important;
            }
        }

        h2 {
            color: $secondary-color;
        }

        .collapse-content{
            width: 485px;
            padding: 0;

            @media screen and (max-width: 600px) {
                width: 100% !important;
            }

            .equipement {
                display: flex;
                flex-direction: column;
            }

            p{
                width: 90%;
                padding: 20px 0;
                margin: auto;
                font-size: $font-size-large;
                font-weight: 400;

                @media screen and (max-width: 600px) {
                    font-size: $font-size-small;
                }
            }
        }
    }
  

}