@import '../../scss/utils/variables';
@import '../../scss/utils/mixins';

.collapse-button {
    background-color: $primary-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3%;
    padding: 10px 15px;
    width: 100%;
    height: 6%;
    @include displayFlex(space-between, center);
  
    h2 {
      font-weight: 500;
      font-size: $font-size-title;
      color: $secondary-color;
      text-align: left;
    }
  
    @include respondTo(sl) {
      height: 52px;
    }
  
    @include respondTo(xs) {
      height: 30px;
  
      h2 {
        font-size: 13px;
      }
    }
  }
  
  .collapse-content {
    padding: 20px;
    border-radius: 5px;
    background-color: #F6F6F6;
    color: $primary-color;
    max-height: 0;
    overflow: hidden;
    transition: max-height 3s ease-in-out;
  
    p {
      margin: 0;
      font-size: $font-size-small;
    }
  
    @include respondTo(xs) {
      font-size: $font-size-small;
    }
  }
  
  .collapse.open {
    .collapse-content {
      max-height: 1000px;
      animation: slide-down 1s ease-in-out;
    }
  }
  
  .svg-icon {
    transition: transform 0.3s ease;
  
    &.rotate {
      transform: rotate(-180deg);
    }
  
    @include respondTo(xs) {
      width: 16px;
    }
  }
  
  @keyframes slide-down {
    from {
      max-height: 0;
    }
    to {
      max-height: 1000px;
    }
  }