.gallery {
    max-width: 1240px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    margin: auto;
    border-radius: 25px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 60px 0;
    justify-content: center;
    align-content: center;
    padding: 56px 0;
}