@import '../../scss/utils/variables';
@import '../../scss/utils/mixins';

.banner2 img{
    object-fit: cover;   
    width: $width-large; 
    height: 30vh;
    border-radius: $border-radius;
    display: flex;
    margin-top: 26px;
    margin-bottom: 43px;
    margin-right: auto;
    margin-left: auto;

    @include respondTo(xs) {
            height: 111px;
            width: $width-large;
            border-radius: 10px;
            margin-bottom: 22px;
    } 
}



