@import '../../scss/utils/variables';
@import '../../scss/utils/mixins';

.footer {
    background-color: black;
    color: $secondary-color;
    height: 209px;
    width: 100%;
    @include displayFlex(center, center, column);

    .logo-blanc {
        margin-top: auto;
    }

    h2 {
            font-size: $font-size-title;
            font-weight: 500;
            margin: 31px 0 31px 0;
            width: 50%;
            text-align: center;

            @include respondTo(xs) {
                    font-size: $font-size-small;
                    width: 45%;
                    margin-top: 15px;
                    margin-bottom: 50px;
            }
    }
}