@import '../../scss/utils/variables';
@import '../../scss/utils/mixins';

nav {
    @include displayFlex;
    width: $width-large;
    margin: auto;
    margin-top: 45px;

    @include respondTo(xs) {
        width: $width-large;
        height: 46px;
        margin-top: 20px;
    }

    .logo {
        @include displayFlex(null, center);
        width: 20%;

       @include respondTo(xs) {
            width: 35%;
        }

        img {
            width: 100%;
            max-width: 250px;
        }
    }

    .nav-links {
        margin-left: auto;
        @include displayFlex(null, center);
        list-style: none;
        padding: 0;

        li a {
            text-decoration: none;
            color: $primary-color;
            font-size: 1.5em;
            margin-left: 2em;
            white-space: nowrap;

            &:hover,
            &.active {
                border-bottom: 1px solid $primary-color;
            }

            @include respondTo(xs) {
                font-size: $font-size-medium;
            }
        }
    
    }
}